.card-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .list-chart {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;; /* Responsive grid with a minimum width of 300px */
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    gap: 20px; /* Add some gap between the cards */
    margin-top: 10px;
    padding: 20px;
    justify-items: center; /* Center the cards horizontally */
    justify-content: center; /* Center the grid horizontally */
  }
  .card-chart {
    text-align: center;
    margin: 20px;
    border: 1px solid rgb(201, 198, 198);
    border-radius: 15px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    @keyframes card-hover {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.08);
      }
      100% {
        transform: scale(1);
      }
    }

    &:hover {
      color: rgb(0, 191, 255);
      box-shadow: 0 0 5px rgb(0, 191, 255);
      border: 1px solid rgb(0, 191, 255);
      animation-name: card-hover;
      transform: scale(1.08);
      .chart-image {
      }
    }
 
    .chart-image {
      object-fit: cover;
      border-radius: 15px;
    }
  }

}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 


// .bounce {
//   animation: bounce 1s ease;
// }
// @keyframes bounce {
//     70% { transform:translateY(0%); }
//     80% { transform:translateY(-15%); }
//     90% { transform:translateY(0%); }
//     95% { transform:translateY(-7%); }
//     97% { transform:translateY(0%); }
//     99% { transform:translateY(-3%); }
//     100% { transform:translateY(0); }
// }