.card-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .list-chart {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 2fr 2fr;
    @media (max-width: 48rem) {
      grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    }
    gap: 1.25rem;
    padding: 6.5rem;
  }
  .card-chart {
    text-align: center;
    margin: 1.25rem;
    border: none;
    padding: 20px;
    border-radius: 0.9375rem;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border: 0.5px solid gray;
    @keyframes card-hover {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.08);
      }
      100% {
        transform: scale(1);
      }
    }

    &:hover {
      color: rgb(0, 191, 255);
      box-shadow: 0 0 0.3125rem rgb(0, 191, 255);
      border: 0.0625rem solid rgb(0, 191, 255);
      animation-name: card-hover;
      transform: scale(1.08);
      .chart-image {
      }
    }
 
    .chart-image {
      object-fit: cover;
      border-radius: 0.9375rem;
    }
  }

}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 


