.form {
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;  
    justify-content: space-between;
    align-items: center;
    flex-direction: flex-end;

    label {
      font-weight: bold;
      color: #333;
      margin-bottom: 5px;
    }

    .form-switch {
      display: flex;
      align-items: center;
      flex-direction: flex-end;

      label {
        font-weight: bold;
      };

      input {
        margin-left: 5px;
      }
    }
    .form-control {
      display: flex;
      border: 1px solid #ddd;
      border-radius: 5px;
      height: 40px;
      width: 120px;
    }
  }
  button {
    margin-left: 115px;
    background-color: rgb(226, 217, 217); 
    border: none;
    color: black;
   
  }
}
