.form {
  padding: 0.625rem; 
  background: #f9f9f9;
  border-radius: 0.625rem;

  .form-group {
    margin-bottom: 0.9375rem;
    display: flex;
    gap: 0.625rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: flex-end;

    label {
      font-weight: bold;
      color: #333;
      margin-bottom: 0.3125rem;
    }

    .form-switch {
      display: flex;
      align-items: center;
      flex-direction: flex-end;

      label {
        font-weight: bold;
      }

      input {
        margin-left: 0.3125rem;
      }
    }
    .form-control {
      display: flex;
      border: 0.0625rem solid #ddd;
      border-radius: 0.3125rem;
      height: 2.5rem;
      width: 7.5rem;
    }
  }

  button {
    margin-left: 7.1875rem; 
    background-color: rgb(255, 252, 252);
    border: none;
    color: black;
  }
}
