.loading-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: 40%;
  left: 40%;

  @media (max-width: 47.938rem) {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
}
