.line-modal {
  margin: 0 auto;
  max-height: 90vh;
  overflow-y: auto; 
  
  .icons-add {
    cursor: pointer;
    color: #a3a5a7; 
    font-size: 25px; 
    padding: 5px;
    border: 1px solid #a3a5a7;
    border-radius: 5px;
    margin: 0 0 8px 45%;
  }
  
  .icons-add:hover {
    background-color: #f0f0f0;
  }
  
  .modal-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dee2e6;
  }

  .modal-title {
    font-size: 1.5rem;
  }

  .modal-body {
    .dataset-name {
      font-weight: bold; 
    }
    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      position: relative;
      .input-label {
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
      }
       .icons-remove {
          position: absolute;
          color: rgb(239, 231, 231);
          right: 1.563rem;
          bottom: 0.813rem;
          cursor: pointer;
          &:hover {
            color: red
          }
        }

      .input-field {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ced4da;
        font-size: 1rem;
      }
      .warning {
        border: 2px solid #ff0000; 
        background-color: #ffebee; 
      }
    }

    .serie-group {
      margin-bottom: 1rem;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      padding: 1rem;
      .dataset {
        padding: 0.5rem;
        border-right: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
