.mixed-modal {
  .modal-header {
    background: #f7f7f7;
    color: #333;
    .modal-title {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .modal-body {
    .input-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.625rem;
      .input-field {
        flex: 1;
        margin-right: 0.625rem;
        padding: 0.625rem;
        border: 0.0625rem solid #ccc;
        border-radius: 0.25rem;
      }
      
      .icons-remove {
        cursor: pointer;
        color: red;
      }
    }

    .serie-group {
      margin-bottom: 1.25rem;
      border: 0.0625rem solid #ccc;
      border-radius: 0.25rem;
      padding: 1.25rem;

      .input-group:first-child {
        justify-content: space-between;
      }
    }

    button {
      display: block;
      width: 100%;
      padding: 0.625rem;
      border: none;
      border-radius: 0.25rem;
      background: #007bff;
      color: white;
      cursor: pointer;
      &:hover {
        background: #0056b3;
      }
    }
  }

  .modal-footer {
    button {
      width: auto;
      margin-right: 0.625rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }


  @media (max-width: 576px) {
    .modal-header {
      .modal-title {
        font-size: 1.5rem;
      }
    }

    .modal-body {
      .input-group {
        flex-direction: column;
        margin-bottom: 1rem;

        .input-field {
          margin-right: 0;
          margin-bottom: 0.625rem;
        }
        .warning {
          border: 2px solid #ff0000; 
          background-color: #ffebee; 
        }
      }

      .serie-group {
        padding: 1rem;
      }

      button {
        padding: 0.875rem;
      }
    }

    .modal-footer {
      button {
        margin-right: 0;
        margin-bottom: 0.625rem;
      }
    }
  }

}
