.line-modal {
  .modal-body {
     
  .icons-add {
    cursor: pointer;
    color: #a3a5a7; 
    font-size: 25px; 
    padding: 5px;
    border: 1px solid #a3a5a7;
    border-radius: 5px;
    margin: 0 0 8px 45%;
  }
  
  .icons-add:hover {
    background-color: #f0f0f0;
  }
    .pair-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      .input-group {
        flex: 1;

        &:first-child {
          margin-right: 1rem;
        }

        .input-field {
          width: 100%;
        }
      }
    }

    .icons-remove {
      position: relative;
      top: 0.8rem;
      bottom: 1rem;
      margin-left: 0.5rem;
      color: rgb(239, 231, 231);
      cursor: pointer;
      &:hover {
        color:red;
      }
    }
  }
}
