.card-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .list-chart {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    margin-top: 10px;
    padding: 20px;
  }
  .card-chart {
    text-align: center;
    margin: 20px;
    border: 0.5px solid rgb(201, 198, 198);
    border-radius: 15px;
    transition: all .15s ease-out 0s;
    &:hover {
      color: rgb(0, 191, 255);
      box-shadow: 0 0 5px rgb(0, 191, 255);
      border: 1px solid rgb(0, 191, 255);
      .chart-image {
      }
    }
    .chart-image {
      object-fit: cover;
      border-radius: 15px;
    }
  }

}
.chart-container {
  .apex-chart {
    margin-top: 20vh;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .spinner-border {
    width: 10rem;
    height: 10rem;
    color: rgb(0, 0, 0);
  }
} 