.homepage-container {
  margin: 20px 10px; /* Adjust the margin as needed */
  border: 1px solid black;
  border-radius: 10px;
  min-height: 100vh;
  
  .feature-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .feature-button-right {
      margin: 10px 0px 10px 20px;

      @media (max-width: 768px) {
        margin-right: 10px;
        margin-left: auto;
      }
    }
    
    .feature-button-left {
      margin: 10px 0px 10px 10px;

      @media (max-width: 768px) {
        margin-left: 10px;
        margin-right: auto;
      }
    }
    
    .btn {
      border-radius: 10px;
      border: 0.5px solid black;
      margin-right: 5px;
      
      &:hover {
        background-color: rgb(214, 212, 212);
      }
      
      .cancel {
        background-color: red;
      }
    }
  }
  
  .chart-container {
    height: 100%;
    width: 100%;
    max-width: 800px; /* Set a maximum width if needed */
    margin: 20px auto; /* Center the chart container */
    .chart {
      position: relative;
      .apex-chart {
        position: relative;
        z-index: 1;
      }
    }
    
    
    .container {
      position: relative;
    }
    
    .canvas-container {
      position: absolute;
      visibility: visible;
      z-index: 10;
    }
  }

  .canvas-container {
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
}
